<!DOCTYPE html>
<html>
<head>
    <title>TOPSIS Decision Making</title>
</head>
<body>

<h2>TOPSIS Decision Making</h2>

<form action="/" method="POST" enctype="multipart/form-data">

    <label>File Name:</label><br>
    <input type="file" name="file" required><br><br>

    <label>Weights:</label><br>
    <input type="text" name="weights" placeholder="1,1,1,1,1" required><br><br>

    <label>Impacts:</label><br>
    <input type="text" name="impacts" placeholder="+,+,-,+,+" required><br><br>

    <label>Email Id:</label><br>
    <input type="email" name="email" required><br><br>

    <button type="submit">Submit</button>

</form>

</body>
</html>
